<div class="row-info-container">
    <div *ngIf="rowData">
      <div class="info-item">
        <strong>الاسم:</strong>
        <div class="field-value">{{ rowData.name }}</div>
      </div>
      <div class="info-item">
        <strong>تاريخ الميلاد:</strong> 
        <div class="field-value">{{ rowData.dob }}</div>
      </div>
      <div class="info-item">
        <strong>رقم الهاتف :</strong>
        <div class="field-value">{{ rowData.phone }}</div>
      </div>
      <div class="info-item">
        <strong class="comments-title">التعليقات :</strong>
        <ul>
          <li *ngFor="let comment of rowData.comments">
            <p>{{ comment.commentDate | date:'short' }}</p>
            <p>{{ comment.text }}</p> 
          </li>
        </ul>
      </div>
    </div>
  </div>
  